body {
    background: #44039e;
    color: #eb7a2c;
    font-size: 2.5em;
}

h2, p, div, ul {
    margin: 5vh 0;
    text-align: center;
}

p, ul {
    margin-top: 12vh;
    font-size: 1em;
}

ul li {
    list-style: none;
    text-decoration: none;
    text-transform: none;
    justify-content: left;
    padding-top: 2vh;
}